################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeometryDemo1/.vs/GeometryDemo1
/.vs/Test/v17
